<div class="container">
    <h1>Welcome!</h1>
    <p class="lead">Fabflix</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    <br>
    <form ng-controller="MainCtrl">
        <div class="row">
            <div class="col-sm-12">
                <input ng-model="searchParams" type="text" class="form-control" placeholder="Search">
                <a href="/movies/advSearch"> Advanced Search </a>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"
                            ng-click="search(searchParams, false)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
