<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div ng-include="'components/header.html'"></div>
</header>


<br><br><br>
<div class="container" data-ng-init="init()">
    <table class="table table-condensed">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td> <img src="{{movieInfo.banner_url}}"></td>
        </tr>
        <tr>
            <td> ID: {{movieInfo.id}}</td>
        </tr>
        <tr>
            <td> Title: {{movieInfo.title}}</td>
        </tr>
        <tr>
            <td> Director: {{movieInfo.director}}</td>
        </tr>
        <tr>
            <td> Year: {{movieInfo.year | date}}</td>
        </tr>
        <tr>
            <td> Stars:</td>
            <td ng-repeat="star in movieInfo.stars">
                <a href="/star/{{star.id}}">  {{star.first_name}} {{star.last_name}} </a>
            </td>
        </tr>
        <tr>
            <td>Genre: </td>
            <td ng-repeat="genre in movieInfo.genres">
                {{genre.name}}
            </td>
        </tr>
        <tr><button type="button"ng-click="addToCart(movieInfo)" class="btn btn-primary btn-sm">Add to cart</button></tr>
        </tbody>
    </table>
</div>
