<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Movie Info</h1>
        <p class="lead">Details</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>


<br><br><br>
<div class="container" data-ng-init="init()">
    <table class="table table-hover table table-condensed">
        <thead>
        <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                Title
            </td>
            <td>
                Year
            </td>
        </tr>
        </thead>
        </thead>
        <tbody>
        <tr>
            <td> {{movieInfo.id}}</a></td>
            <td> {{movieInfo.title}}</td>
            <td> {{movieInfo.year | date}}</td>
        </tr>
        </tbody>
    </table>
</div>
